$fullWidth: 1280px;
$contentWidthRatio: 0.4;
$contentWidth: $fullWidth * $contentWidthRatio;

@mixin blockAlign($direction) {
  #{$direction}: 0;
  @media screen and (max-width: #{$fullWidth}) {
    float: #{$direction};
  }
};


body {

  font-family: sans-serif;
  font-size: 1.5em;

  h1 {
    text-align: center;
    margin: 1em auto;
    font-size: 3em;
  }

  #container {

    margin: 0 auto;
    max-width: $fullWidth;
    position: relative;

    p {
      display: block;
      max-width: $contentWidth;
      line-height: 1.5;
    }

    video {
      width: 100%;
      margin-bottom: 10px;
    }

    #matrixOuterBox {

      max-width: $fullWidth - $contentWidth;
      float: right;
      position: relative;

      .box {
        position: absolute;
        border: 5px solid #EE0;
        display: none; //Default state, before activated
      }

      #matrix {
        width: 100%;
      }

      @media screen and (max-width: 1024px) {
        width: 50%;
        margin: 0 auto;
        clear: both;
        float: none;
      }

    }

    #mainBox {

      max-width: $contentWidth;
      max-height: 800px;
      overflow: scroll;
      border: 1px solid #333;

      h2 {
        text-align: center;
        max-width: $contentWidth;
      }

      span.areaReference {
        $highlightColor: #EE0;

        background-color: $highlightColor;

        &:hover {
          border-bottom: 5px solid black;
        }
      }

      @media screen and (max-width: 1024px) {
        float: left;
        width: 100%;
        max-width: none;

        p {
          max-width: none;
        }

        h2 {
          max-width: none;
        }
      }
    }

  }

}
